/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

h1, h2 {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem 0;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0rem 0rem;
  text-align: left;
}

a {
  color: yellowgreen;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 0.2rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"] {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="number"]:focus {
  border-color: yellowgreen;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

ul {
  width: 100%;
  list-style: none;
  text-align: left;
  padding: 0.5rem;
}

li {
  padding: 8px 12px;
  margin-bottom: 4px;
  border-radius: 6px;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #e0e0e0;
}

select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  appearance: none;
  cursor: pointer;
  transition: border 0.3s ease;
}

select:focus {
  outline: none;
  border-color: yellowgreen;
}

option {
  font-size: 1rem;
  padding: 0.5rem;
}

.app-navbar .page-link {
  text-decoration: none;
  margin: 0rem;
  display: inline-block;
  padding: 0.6rem 3rem;
  background-color: #fff;
  color: yellowgreen;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.page-link:hover {
  background-color: #e0e0e0;
}

.app-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  background-color: white;
  border-bottom: 0.2rem solid yellowgreen;
  border-radius: 4px;
  margin: 0rem;
  padding: 0rem;
  width: 100%;
}

.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* darkens background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* make sure it’s on top */
}

.popup-window-auth {
  position: fixed;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* allows scrolling if content overflows */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1001;
}

.popup-content button {
  transition: background 0.3s ease;
}

.popup-content button:hover {
  background-color: grey;
}

.popup-content input,
.popup-content select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.popup-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}